<settings>
	<localRepository>/home/vagrant/.m2/repository</localRepository>
	<servers>
		<server>
			<id>maven-central</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
			<id>maven-releases</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
			<id>maven-snapshots</id>
			<username>admin</username>
			<password>admin123</password>
		</server>
		<server>
                        <id>landa-mas-releases</id>
                        <username>admin</username>
                        <password>admin123</password>
                </server>
                <server>
                        <id>landa-mas-snapshots</id>
                        <username>admin</username>
                        <password>admin123</password>
                </server>
		<server>
        		<id>docker-k8s-harbor</id>
        		<username>admin</username>
        		<password>Harbor12345</password>
        		<configuration>
            			<email>lin.wu@landasoft.com</email>
        		</configuration>
    		</server>
                <server>
                        <id>docker-bigger-k8s-harbor</id>
                        <username>admin</username>
                        <password>Harbor12345</password>
                        <configuration>
                                <email>lin.wu@landasoft.com</email>
                        </configuration>
                </server>
		<server>
                        <id>docker-pcf-harbor</id>
                        <username>admin</username>
                        <password>landa</password>
                        <configuration>
                                <email>lin.wu@landasoft.com</email>
                        </configuration>
                </server>
		<server>
                        <id>docker-pks-harbor</id>
                        <username>admin</username>
                        <password>landa</password>
                        <configuration>
                                <email>lin.wu@landasoft.com</email>
                        </configuration>
                </server>
		<server>
                        <id>docker-aliyun-harbor</id>
                        <username>server@landasoft.com</username>
                        <password>Landa123</password>
                        <configuration>
                                <email>lin.wu@landasoft.com</email>
                        </configuration>
                </server>


	</servers>
	<profiles>
		<profile>
			<id>maven-central</id>
			<repositories>
				<repository>
					<id>maven-central</id>
					<url>http://172.16.6.187:8081/repository/maven-public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>maven-central</id>
					<url>http://172.16.6.187:8081/repository/maven-public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>maven-snapshots</id>
			<repositories>
				<repository>
					<id>maven-snapshots</id>
					<url>http://172.16.6.187:8081/repository/maven-snapshots/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		 <profile>
                        <id>maven-releases</id>
                        <repositories>
                                <repository>
                                        <id>maven-releases</id>
                                        <url>http://172.16.6.187:8081/repository/maven-releases/</url>
                                        <releases>
                                                <enabled>true</enabled>
                                        </releases>
                                        <snapshots>
                                                <enabled>false</enabled>
                                        </snapshots>
                                </repository>
                        </repositories>
                </profile>		
	</profiles>
	<activeProfiles>
		<activeProfile>maven-central</activeProfile>	
		<activeProfile>maven-snapshots</activeProfile>	
		<activeProfile>maven-releases</activeProfile>	
	</activeProfiles>
</settings>
